h2#logo {
  background-color: black;
  color: rgb(180, 70, 70);
}

h2 {
  color: rgb(235, 133, 38);
}

p {
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  color: rgb(162, 175, 41);
}

p#chico {
  font-size: 15px;
}

p#titulos {
  font-size: 30px;
}
