#content {
  background-color: rgb(36, 41, 63);
  color: aliceblue;

  text-align: center;
}

table {
  width: 100%;
  table-layout: fixed;
}

td {
  text-align: center;
  vertical-align: middle;
}

#imgYtxt {
  position: relative;
  text-align: center;
}

#textOnimg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#content2 {
  margin: 10px;
  text-align: center;
  font-size: 14px;
}
